<footer class="p-4 z-20 grid place-items-center bg-slate-900 text-gray-50">
  Copyright @ 2022
  <hr class="mt-2 w-full h-2 max-w-xs">
  Design and Development by <a class="hover:underline" href="https://skndash.tk">Dash Skndash</a>
</footer>